.container
	.column
		%header
		%section.credits
			%p We Will Win! is first and foremost an act of revolutionary labor. Fourteen contributors gave their time and effort to bring together a zine full of artwork that illustrates protest chants and depicts victory. In this zine, we envision a world in which the population has taken to the streets, taken change into their own hands, and won! We also feature writing that serves as a guide along our journey to that world.

			%p
				You can download the zine for online viewing 
				%a{:href=>"documents/wewillwin.pdf"}here. 

			%p If you would like to print and distribute your own copies, you are welcome and encouraged to do so! You can print this document two-sided, then fold and staple down the middle. The zine is licensed Creative Commons BY-NC-ND and the artwork CC BY-NC-SA, meaning that you are free to redistribute the zine in whole or in part, as long as you do not modify the individual pieces of art!
	.column
		%img{:src=>"http://placehold.it/100x160"}
		%embed{:src=>"documents/wewillwin.pdf", :type => "application/pdf"}
