.container
	.column
		%header
		%section.credits
			%a{:href=>"#"} link
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ducimus rerum cupiditate illum assumenda cumque beatae neque labore, expedita debitis vitae modi maxime animi fugit, voluptates maiores officiis corporis hic.
			%p Rem, dicta mollitia fugiat odio. Nostrum explicabo doloribus fugiat autem molestias, sint obcaecati doloremque eius optio quaerat quia, voluptate praesentium, exercitationem quo cum quos cumque aliquam. Necessitatibus iure veniam ad.
			%p Illo sequi nemo, excepturi quo! Quidem, consequuntur ut ipsum nulla, in, consectetur ratione excepturi fugit sapiente magnam quis eum. Iure nostrum nobis esse perferendis. Laborum laudantium distinctio ducimus pariatur reprehenderit.
			%p Commodi quis, eaque quasi, quam eum voluptatum eos. Asperiores pariatur quia, ipsa. Velit mollitia eveniet recusandae dolorum, vero, sapiente, autem dignissimos ipsum dolore, accusantium nostrum. Perferendis natus sit dicta, veniam.
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ducimus rerum cupiditate illum assumenda cumque beatae neque labore, expedita debitis vitae modi maxime animi fugit, voluptates maiores officiis corporis hic.
			%p Rem, dicta mollitia fugiat odio. Nostrum explicabo doloribus fugiat autem molestias, sint obcaecati doloremque eius optio quaerat quia, voluptate praesentium, exercitationem quo cum quos cumque aliquam. Necessitatibus iure veniam ad.
			%p Illo sequi nemo, excepturi quo! Quidem, consequuntur ut ipsum nulla, in, consectetur ratione excepturi fugit sapiente magnam quis eum. Iure nostrum nobis esse perferendis. Laborum laudantium distinctio ducimus pariatur reprehenderit.
			%p Commodi quis, eaque quasi, quam eum voluptatum eos. Asperiores pariatur quia, ipsa. Velit mollitia eveniet recusandae dolorum, vero, sapiente, autem dignissimos ipsum dolore, accusantium nostrum. Perferendis natus sit dicta, veniam.%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ducimus rerum cupiditate illum assumenda cumque beatae neque labore, expedita debitis vitae modi maxime animi fugit, voluptates maiores officiis corporis hic.
			%p Rem, dicta mollitia fugiat odio. Nostrum explicabo doloribus fugiat autem molestias, sint obcaecati doloremque eius optio quaerat quia, voluptate praesentium, exercitationem quo cum quos cumque aliquam. Necessitatibus iure veniam ad.
			%p Illo sequi nemo, excepturi quo! Quidem, consequuntur ut ipsum nulla, in, consectetur ratione excepturi fugit sapiente magnam quis eum. Iure nostrum nobis esse perferendis. Laborum laudantium distinctio ducimus pariatur reprehenderit.
			%p Commodi quis, eaque quasi, quam eum voluptatum eos. Asperiores pariatur quia, ipsa. Velit mollitia eveniet recusandae dolorum, vero, sapiente, autem dignissimos ipsum dolore, accusantium nostrum. Perferendis natus sit dicta, veniam.
	.column
		%img{:src=>"http://placehold.it/100x160"}
		%embed{:src=>"documents/wewillwin.pdf", :type => "application/pdf"}
